<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hexapod_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.257411561544365 -1.02887073117159 -0.143644650111285"
        rpy="0 0 0" />
      <mass
        value="0.394164283837447" />
      <inertia
        ixx="0.00140146072401275"
        ixy="-3.22590645980393E-09"
        ixz="-9.08398049386088E-08"
        iyy="0.00260686785981137"
        iyz="4.90300888833374E-09"
        izz="0.00139631961979505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="1A_link">
    <inertial>
      <origin
        xyz="0.028337480694777 0.00183431937361048 0.00171011164356782"
        rpy="0 0 0" />
      <mass
        value="0.0284343546565839" />
      <inertia
        ixx="3.40430537672247E-06"
        ixy="-2.51364666691777E-07"
        ixz="7.03831236602255E-07"
        iyy="9.48815427932301E-06"
        iyz="2.06447610692525E-08"
        izz="9.38157843537786E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1A_joint"
    type="revolute">
    <origin
      xyz="-0.26054 -1.0121 -0.28139"
      rpy="-1.5708 1.4948 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="1A_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="1B_link">
    <inertial>
      <origin
        xyz="-0.101462967839371 -0.00906854494073556 0.00616910983255009"
        rpy="0 0 0" />
      <mass
        value="0.0393326462004403" />
      <inertia
        ixx="6.09734251114647E-06"
        ixy="-9.65535643546754E-06"
        ixz="-7.14824373690788E-06"
        iyy="7.74003652664274E-05"
        iyz="-1.55226520662938E-06"
        izz="7.78927637257133E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1B_joint"
    type="revolute">
    <origin
      xyz="0.06362 -0.00057714 0.005701"
      rpy="1.5708 0.84229 3.1325" />
    <parent
      link="1A_link" />
    <child
      link="1B_link" />
    <axis
      xyz="-0.044948 -0.050377 -0.99772" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="1C_link">
    <inertial>
      <origin
        xyz="-0.033090334089342 0.0336660368962824 -0.0302086703631166"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="1.27316084518699E-05"
        ixy="4.95111889607276E-07"
        ixz="2.74622413039355E-06"
        iyy="5.9349683529507E-05"
        iyz="-3.41222918684481E-07"
        izz="6.55767462467501E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1C_joint"
    type="revolute">
    <origin
      xyz="-0.16408 -0.0084589 -0.027239"
      rpy="1.5708 0 2.2612" />
    <parent
      link="1B_link" />
    <child
      link="1C_link" />
    <axis
      xyz="-0.010218 -0.99772 -0.066736" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2A_link">
    <inertial>
      <origin
        xyz="0.0283381331359435 0.0018000301279979 -0.0193897794249602"
        rpy="0 0 0" />
      <mass
        value="0.0284343550237236" />
      <inertia
        ixx="3.40412649548419E-06"
        ixy="-2.49256695541837E-07"
        ixz="7.03815223502087E-07"
        iyy="9.48832774725598E-06"
        iyz="2.03998763948826E-08"
        izz="9.38158391234098E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2A_joint"
    type="revolute">
    <origin
      xyz="-0.37826 -1.0332 -0.20983"
      rpy="-1.5708 0.4478 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="2A_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2B_link">
    <inertial>
      <origin
        xyz="0.0971031270170688 0.0308474718829804 0.00609990630170254"
        rpy="0 0 0" />
      <mass
        value="0.0393326465544562" />
      <inertia
        ixx="1.35269679145865E-05"
        ixy="-2.38232906455588E-05"
        ixz="6.65936411377535E-06"
        iyy="6.99745889805511E-05"
        iyz="3.06959409199375E-06"
        izz="7.78889146752254E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2B_joint"
    type="revolute">
    <origin
      xyz="0.063599 -0.00057839 -0.0154"
      rpy="-1.5708 -1.0606 -0.0090858" />
    <parent
      link="2A_link" />
    <child
      link="2B_link" />
    <axis
      xyz="0.032866 0.05873 -0.99773" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2C_link">
    <inertial>
      <origin
        xyz="0.0376323974391738 0.00340615362496775 0.0820694920721581"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="6.09511692357023E-05"
        ixy="-4.51710949126228E-07"
        ixz="1.51853487638885E-05"
        iyy="5.9349517098051E-05"
        iyz="3.93365815399307E-07"
        izz="1.73573518943733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2C_joint"
    type="revolute">
    <origin
      xyz="0.1711 0 0.0097395"
      rpy="-1.5708 0 0.6562" />
    <parent
      link="2B_link" />
    <child
      link="2C_link" />
    <axis
      xyz="0.061878 0.99773 0.026483" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3A_link">
    <inertial>
      <origin
        xyz="0.0282538248535282 0.00316522296964278 -0.0193896862723197"
        rpy="0 0 0" />
      <mass
        value="0.0284343550141747" />
      <inertia
        ixx="3.42805419316551E-06"
        ixy="-4.55153814030612E-07"
        ixz="7.02697330128222E-07"
        iyy="9.46439553188908E-06"
        iyz="4.42849901442824E-08"
        izz="9.38158843376235E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3A_joint"
    type="revolute">
    <origin
      xyz="-0.37491 -1.0332 -0.071745"
      rpy="-1.5708 -0.6336 3.1416" />
    <parent
      link="base_link" />
    <child
      link="3A_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3B_link">
    <inertial>
      <origin
        xyz="0.0936143571361396 0.0396549640963982 0.0112098698780352"
        rpy="0 0 0" />
      <mass
        value="0.0393326465589664" />
      <inertia
        ixx="1.83891005641566E-05"
        ixy="-2.89460406874963E-05"
        ixz="4.61544039926101E-06"
        iyy="6.47562952964613E-05"
        iyz="2.87772724012991E-06"
        izz="7.82450757103513E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3B_joint"
    type="revolute">
    <origin
      xyz="0.063599 -0.0005902 -0.0154"
      rpy="-1.5708 -1.1557 -0.0092768" />
    <parent
      link="3A_link" />
    <child
      link="3B_link" />
    <axis
      xyz="0.040861 0.092713 -0.99485" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3C_link">
    <inertial>
      <origin
        xyz="-0.09160332682956 0.0140314968158131 -0.0528777330076029"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="1.58527042919939E-05"
        ixy="5.18131990033039E-07"
        ixz="1.27453635434955E-05"
        iyy="5.9374034864698E-05"
        iyz="-6.77573003440911E-07"
        izz="6.24312990714349E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3C_joint"
    type="revolute">
    <origin
      xyz="0.1711 0 0"
      rpy="1.5709 2.2069E-05 -0.76529" />
    <parent
      link="3B_link" />
    <child
      link="3C_link" />
    <axis
      xyz="-0.034736 -0.99486 -0.09511" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4A_link">
    <inertial>
      <origin
        xyz="0.0281880312416113 -0.00389145795334184 0.00171029483127949"
        rpy="0 0 0" />
      <mass
        value="0.0284343546567147" />
      <inertia
        ixx="3.45592216647732E-06"
        ixy="6.12048855078028E-07"
        ixz="6.99616954238082E-07"
        iyy="9.4365284507043E-06"
        iyz="-7.92848103711781E-08"
        izz="9.3815874742664E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4A_joint"
    type="revolute">
    <origin
      xyz="-0.25597 -1.0121 -0.0058865"
      rpy="-1.5708 -1.5048 3.1416" />
    <parent
      link="base_link" />
    <child
      link="4A_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4B_link">
    <inertial>
      <origin
        xyz="0.0911481901559957 0.0444933752124946 -0.0151309223740669"
        rpy="0 0 0" />
      <mass
        value="0.0393326462005796" />
      <inertia
        ixx="2.2826193446913E-05"
        ixy="-2.95743773081822E-05"
        ixz="1.28830557812588E-05"
        iyy="6.31683752677569E-05"
        iyz="7.47287360622952E-06"
        izz="7.5395902788642E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4B_joint"
    type="revolute">
    <origin
      xyz="0.063599 -0.00057697 0.0057002"
      rpy="-1.5708 -1.2114 -0.0090776" />
    <parent
      link="4A_link" />
    <child
      link="4B_link" />
    <axis
      xyz="-0.026184 -0.06968 -0.99723" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4C_link">
    <inertial>
      <origin
        xyz="-0.112496651394289 -0.0256590108977424 -0.0189704763567466"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="3.07991024308703E-05"
        ixy="2.17187799064586E-07"
        ixz="2.52064047248141E-05"
        iyy="5.9393296469855E-05"
        iyz="5.65577831045906E-07"
        izz="4.74656393274014E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4C_joint"
    type="revolute">
    <origin
      xyz="0.1711 0 0"
      rpy="1.5708 0 -1.0859" />
    <parent
      link="4B_link" />
    <child
      link="4C_link" />
    <axis
      xyz="0.049441 -0.99723 0.055647" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5A_link">
    <inertial>
      <origin
        xyz="0.0282580179373623 0.00313063838179124 0.00171019196417599"
        rpy="0 0 0" />
      <mass
        value="0.0284343550237688" />
      <inertia
        ixx="3.42683400448859E-06"
        ixy="-4.46944773395633E-07"
        ixz="7.02783691970914E-07"
        iyy="9.46562213768633E-06"
        iyz="4.33317436634643E-08"
        izz="9.3815820128967E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5A_joint"
    type="revolute">
    <origin
      xyz="-0.13639 -1.0121 -0.077838"
      rpy="1.5708 -0.41482 0" />
    <parent
      link="base_link" />
    <child
      link="5A_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5B_link">
    <inertial>
      <origin
        xyz="0.0892374817707428 0.0487393073598649 0.0109909793687738"
        rpy="0 0 0" />
      <mass
        value="0.0393326465544563" />
      <inertia
        ixx="2.45467617907383E-05"
        ixy="-3.29358369976306E-05"
        ixz="4.3857959217229E-06"
        iyy="5.86132947174211E-05"
        iyz="3.36701812722541E-06"
        izz="7.82304150622033E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5B_joint"
    type="revolute">
    <origin
      xyz="0.063599 -0.0005739 0.0056999"
      rpy="-1.5708 -1.2548 -0.0090355" />
    <parent
      link="5A_link" />
    <child
      link="5B_link" />
    <axis
      xyz="0.030965 0.09471 -0.99502" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5C_link">
    <inertial>
      <origin
        xyz="-0.0513402538989693 0.0409281181364052 -0.110593086757728"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="1.77446848448203E-05"
        ixy="7.90820634312053E-07"
        ixz="-1.57165264072064E-05"
        iyy="5.93725863273496E-05"
        iyz="-2.85960205515756E-07"
        izz="6.05407670559564E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5C_joint"
    type="revolute">
    <origin
      xyz="0.17108 0 -0.027233"
      rpy="1.5708 0 -0.099064" />
    <parent
      link="5B_link" />
    <child
      link="5C_link" />
    <axis
      xyz="0.021437 -0.99503 -0.097267" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6A_link">
    <inertial>
      <origin
        xyz="0.0284226485117335 0.000270233924949292 0.00183538097241298"
        rpy="0 0 0" />
      <mass
        value="0.0284343550141806" />
      <inertia
        ixx="3.39223910985817E-06"
        ixy="1.25105674475861E-07"
        ixz="6.85392164279042E-07"
        iyy="9.49657231547242E-06"
        iyz="-2.0961908803737E-08"
        izz="9.38522673348674E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6A_joint"
    type="revolute">
    <origin
      xyz="-0.13991 -1.0121 -0.21555"
      rpy="1.5332 0.53367 0.0046181" />
    <parent
      link="base_link" />
    <child
      link="6A_link" />
    <axis
      xyz="-0.0039721 -0.039957 0.99919" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6B_link">
    <inertial>
      <origin
        xyz="-0.0832092081495234 0.00531626253723547 0.0584006909530674"
        rpy="0 0 0" />
      <mass
        value="0.039332646558968" />
      <inertia
        ixx="2.57479523094507E-05"
        ixy="4.92814729682821E-06"
        ixz="3.35343168875644E-05"
        iyy="7.82369288311689E-05"
        iyz="-2.4178958569123E-06"
        izz="5.74055904303493E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6B_joint"
    type="revolute">
    <origin
      xyz="0.065 0.0092003 0.0063321"
      rpy="-0.040574 0.14262 3.0276" />
    <parent
      link="6A_link" />
    <child
      link="6B_link" />
    <axis
      xyz="-0.099515 0.99493 -0.01434" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6C_link">
    <inertial>
      <origin
        xyz="-0.146473692991715 0.0410965070890031 -0.110306621075706"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="2.16939107020027E-05"
        ixy="3.89752632243726E-07"
        ixz="2.00103134344133E-05"
        iyy="5.9373271572785E-05"
        iyz="-7.51615181225645E-07"
        izz="5.65908559533387E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6C_joint"
    type="revolute">
    <origin
      xyz="-0.00409101222826194 0.0436501939489914 0.16090715153179"
      rpy="3.14158945955694 -1.1872473110289 0" />
    <parent
      link="6B_link" />
    <child
      link="6C_link" />
    <axis
      xyz="-0.0505372205434824 -0.99493270384841 -0.0869189516309928" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>