<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="hexapod_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.257411561544365 -1.02887073117159 -0.143644650111285"
        rpy="0 0 0" />
      <mass
        value="0.394164283837448" />
      <inertia
        ixx="0.00140146072401276"
        ixy="-3.22590645989067E-09"
        ixz="-9.08398049389305E-08"
        iyy="0.00260686785981137"
        iyz="4.90300888845117E-09"
        izz="0.00139631961979505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="1A_link">
    <inertial>
      <origin
        xyz="0.0283378745431871 0.00182557260723215 0.00171011166628721"
        rpy="0 0 0" />
      <mass
        value="0.0284343546568847" />
      <inertia
        ixx="3.40419648581625E-06"
        ixy="-2.50043421713272E-07"
        ixz="7.03835700034941E-07"
        iyy="9.48826316946378E-06"
        iyz="2.04919103275331E-08"
        izz="9.38157843619983E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1A_joint"
    type="revolute">
    <origin
      xyz="-0.260544565013545 -1.01206116241563 -0.281391297394327"
      rpy="-1.5707963267949 1.49476626971651 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="1A_link" />
    <axis
      xyz="0 0 0.999999999991391" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="1B_link">
    <inertial>
      <origin
        xyz="-0.101463870262299 -0.00906955702815199 0.00613656028959431"
        rpy="0 0 0" />
      <mass
        value="0.0393326462007453" />
      <inertia
        ixx="6.09941135136385E-06"
        ixy="-9.65397301927311E-06"
        ixz="-7.16018812708331E-06"
        iyy="7.74008684644862E-05"
        iyz="-1.55374067058456E-06"
        izz="7.78901916874911E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1B_joint"
    type="revolute">
    <origin
      xyz="0.0636203974674808 -0.000577139628543943 0.00570103050496762"
      rpy="1.57080045971871 0.842287346673303 3.13252412666513" />
    <parent
      link="1A_link" />
    <child
      link="1B_link" />
    <axis
      xyz="-0.0449475329048409 -0.0503765997912116 -0.99771835578947" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="1C_link">
    <inertial>
      <origin
        xyz="-0.0330905482677788 0.033616959921635 -0.0302100644739663"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="1.27315759363341E-05"
        ixy="4.94169177914199E-07"
        ixz="2.74612913728119E-06"
        iyy="5.93495698525989E-05"
        iyz="-3.39795885658744E-07"
        izz="6.55768924391939E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/1C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="1C_joint"
    type="revolute">
    <origin
      xyz="-0.164084019172298 -0.00845892892413586 -0.0272391911814598"
      rpy="1.57079626680283 0 2.26115671183903" />
    <parent
      link="1B_link" />
    <child
      link="1C_link" />
    <axis
      xyz="-0.0102179351135115 -0.997718351691989 -0.0667359310944108" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2A_link">
    <inertial>
      <origin
        xyz="0.0283381331359431 0.00180003012799856 -0.0193897794249605"
        rpy="0 0 0" />
      <mass
        value="0.0284343550237236" />
      <inertia
        ixx="3.40412649548419E-06"
        ixy="-2.49256695541838E-07"
        ixz="7.03815223502087E-07"
        iyy="9.48832774725598E-06"
        iyz="2.03998763948828E-08"
        izz="9.38158391234098E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2A_joint"
    type="revolute">
    <origin
      xyz="-0.378260308632601 -1.03316169228736 -0.209825331186314"
      rpy="-1.5707963267949 0.447803456724678 -3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="2A_link" />
    <axis
      xyz="0 0 0.999999999991391" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2B_link">
    <inertial>
      <origin
        xyz="0.0971031270163143 0.03084747187844 0.00609990630613538"
        rpy="0 0 0" />
      <mass
        value="0.0393326465544563" />
      <inertia
        ixx="1.35269679145866E-05"
        ixy="-2.38232906455589E-05"
        ixz="6.65936411377541E-06"
        iyy="6.99745889805513E-05"
        iyz="3.06959409199377E-06"
        izz="7.78889146752257E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2B_joint"
    type="revolute">
    <origin
      xyz="0.0635994650152483 -0.000578393068543129 -0.0153999472755177"
      rpy="-1.57080465259821 -1.06059839350069 -0.00908580645889822" />
    <parent
      link="2A_link" />
    <child
      link="2B_link" />
    <axis
      xyz="0.0328663838674289 0.0587298554671745 -0.997732732192486" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="2C_link">
    <inertial>
      <origin
        xyz="0.0376323974317462 0.00340615363095875 0.0820694920508189"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="6.09511692357023E-05"
        ixy="-4.51710949126228E-07"
        ixz="1.51853487638885E-05"
        iyy="5.93495170980511E-05"
        iyz="3.93365815399295E-07"
        izz="1.73573518943733E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/2C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="2C_joint"
    type="revolute">
    <origin
      xyz="0.171099091710239 0 0.00973951247489032"
      rpy="-1.57079893258156 0 0.656200837708118" />
    <parent
      link="2B_link" />
    <child
      link="2C_link" />
    <axis
      xyz="0.0618783699588132 0.997732286459227 0.0264830490707604" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3A_link">
    <inertial>
      <origin
        xyz="0.028254045169994 0.003162422822234 -0.0193896862680407"
        rpy="0 0 0" />
      <mass
        value="0.0284343550141745" />
      <inertia
        ixx="3.42799080199969E-06"
        ixy="-4.54733263124801E-07"
        ixz="7.02700413089854E-07"
        iyy="9.46445892291152E-06"
        iyz="4.42360337052537E-08"
        izz="9.38158843390606E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3A_joint"
    type="revolute">
    <origin
      xyz="-0.374914944478911 -1.03316214363253 -0.071745054027157"
      rpy="-1.5707963267949 -0.633602285574073 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="3A_link" />
    <axis
      xyz="0 0 0.999999999991391" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3B_link">
    <inertial>
      <origin
        xyz="0.0936144106514758 0.0396563014017565 0.0111994948911496"
        rpy="0 0 0" />
      <mass
        value="0.0393326465589656" />
      <inertia
        ixx="1.83897339496846E-05"
        ixy="-2.89459699683622E-05"
        ixz="4.61891990581776E-06"
        iyy="6.47562843116946E-05"
        iyz="2.87941668870639E-06"
        izz="7.82444533095901E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3B_joint"
    type="revolute">
    <origin
      xyz="0.0635994253292133 -0.000590202035316956 -0.0153997469552429"
      rpy="-1.57079925003102 -1.15568185911555 -0.00927676327375631" />
    <parent
      link="3A_link" />
    <child
      link="3B_link" />
    <axis
      xyz="0.0408614821447107 0.0927131498264627 -0.994854065240824" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="3C_link">
    <inertial>
      <origin
        xyz="-0.0916046856755099 0.0140158573952884 -0.0528791293872737"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="1.58526795295239E-05"
        ixy="5.1792587597432E-07"
        ixz="1.27453458313052E-05"
        iyy="5.93739709777528E-05"
        iyz="-6.77068305841998E-07"
        izz="6.24313877208499E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/3C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="3C_joint"
    type="revolute">
    <origin
      xyz="0.171099056984165 0 0"
      rpy="1.57085675367315 2.20692556657909E-05 -0.765289631009453" />
    <parent
      link="3B_link" />
    <child
      link="3C_link" />
    <axis
      xyz="-0.034736144034017 -0.994860581072829 -0.0951095396113419" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4A_link">
    <inertial>
      <origin
        xyz="0.0281881748712443 -0.00388998366244353 0.00171029483507823"
        rpy="0 0 0" />
      <mass
        value="0.0284343546566637" />
      <inertia
        ixx="3.45587720412935E-06"
        ixy="6.11829140938926E-07"
        ixz="6.99619865923693E-07"
        iyy="9.43657341290955E-06"
        iyz="-7.9259108088644E-08"
        izz="9.38158747439951E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4A_joint"
    type="revolute">
    <origin
      xyz="-0.255974054373996 -1.01206206817619 -0.00588646684487949"
      rpy="-1.5707963267949 -1.50475510925559 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="4A_link" />
    <axis
      xyz="0 0 0.999999999991391" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4B_link">
    <inertial>
      <origin
        xyz="0.0911483844874105 0.0444938924062736 -0.0151254390886044"
        rpy="0 0 0" />
      <mass
        value="0.039332646200528" />
      <inertia
        ixx="2.28258605149687E-05"
        ixy="-2.95749168938933E-05"
        ixz="1.28813593738889E-05"
        iyy="6.31678613053293E-05"
        iyz="7.47207090391929E-06"
        izz="7.53967496830055E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4B_joint"
    type="revolute">
    <origin
      xyz="0.0635992616466633 -0.000576968315201321 0.00570022034299766"
      rpy="-1.57078983356474 -1.21135560970982 -0.00907755888534315" />
    <parent
      link="4A_link" />
    <child
      link="4B_link" />
    <axis
      xyz="-0.0261836958536535 -0.0696804058154684 -0.997225679130273" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="4C_link">
    <inertial>
      <origin
        xyz="-0.112497275241466 -0.0256507585921079 -0.0189711784766649"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="3.07991130292483E-05"
        ixy="2.17193263093711E-07"
        ixz="2.52064244863935E-05"
        iyy="5.93932548129821E-05"
        iyz="5.65290348512653E-07"
        izz="4.74656703858961E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/4C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4C_joint"
    type="revolute">
    <origin
      xyz="0.171099059852282 0 0"
      rpy="1.57079637586786 0 -1.08585857681701" />
    <parent
      link="4B_link" />
    <child
      link="4C_link" />
    <axis
      xyz="0.0494409591558951 -0.997225674243887 0.0556466188242337" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5A_link">
    <inertial>
      <origin
        xyz="0.0282577601713598 0.0031339651324079 0.00171019197788236"
        rpy="0 0 0" />
      <mass
        value="0.0284343550237595" />
      <inertia
        ixx="3.42690802853182E-06"
        ixy="-4.47444570201766E-07"
        ixz="7.02780101166678E-07"
        iyy="9.46554811316679E-06"
        iyz="4.33899095619923E-08"
        izz="9.38158201337499E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5A_joint"
    type="revolute">
    <origin
      xyz="-0.136390786035478 -1.01206153239268 -0.0778384850774082"
      rpy="1.5707963267949 -0.414816831721765 0" />
    <parent
      link="base_link" />
    <child
      link="5A_link" />
    <axis
      xyz="0 0 0.999999999991391" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5B_link">
    <inertial>
      <origin
        xyz="0.089237584428202 0.0487377331306056 0.0110033062814118"
        rpy="0 0 0" />
      <mass
        value="0.0393326465544561" />
      <inertia
        ixx="2.45460259377434E-05"
        ixy="-3.29359996617846E-05"
        ixz="4.3818826625011E-06"
        iyy="5.86132804132766E-05"
        iyz="3.36461317927956E-06"
        izz="7.8231165219343E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.749019607843137 0.749019607843137 0.749019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5B_joint"
    type="revolute">
    <origin
      xyz="0.0635993103802858 -0.000573903264097668 0.00569993879362163"
      rpy="-1.57078333798218 -1.25480236320661 -0.00903547312752022" />
    <parent
      link="5A_link" />
    <child
      link="5B_link" />
    <axis
      xyz="0.0310125757403508 0.0948546967313408 -0.995007943010484" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="5C_link">
    <inertial>
      <origin
        xyz="-0.0513397721165989 0.0409466995567994 -0.110590839732915"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081965" />
      <inertia
        ixx="1.77446566585161E-05"
        ixy="7.91349382085036E-07"
        ixz="-1.57164573671765E-05"
        iyy="5.93726607677639E-05"
        iyz="-2.86334588610403E-07"
        izz="6.05407208018468E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/5C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="5C_joint"
    type="revolute">
    <origin
      xyz="0.171078321783105 0 -0.0272330994907475"
      rpy="1.57083810968274 0 -0.0990644706572842" />
    <parent
      link="5B_link" />
    <child
      link="5C_link" />
    <axis
      xyz="0.0214699938797235 -0.995012211926078 -0.0974152836097987" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6A_link">
    <inertial>
      <origin
        xyz="0.0284226124333012 0.000268529090636016 0.00183531265385617"
        rpy="0 0 0" />
      <mass
        value="0.0284343550141806" />
      <inertia
        ixx="3.39225202087415E-06"
        ixy="1.25363684572684E-07"
        ixz="6.85401433575348E-07"
        iyy="9.49656172980526E-06"
        iyz="-2.09910883291113E-08"
        izz="9.38522440813814E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6A_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.109803921568627 0.109803921568627 0.109803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6A_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6A_joint"
    type="revolute">
    <origin
      xyz="-0.13991270731822 -1.01206108271275 -0.215549909652052"
      rpy="1.53317914923738 0.533669639617208 0.00461810223899989" />
    <parent
      link="base_link" />
    <child
      link="6A_link" />
    <axis
      xyz="-0.00397209683038318 -0.0399570507149629 0.999193503053804" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6B_link">
    <inertial>
      <origin
        xyz="-0.0832099090162755 0.00532256619807836 0.0584002889086064"
        rpy="0 0 0" />
      <mass
        value="0.0393326465589677" />
      <inertia
        ixx="2.57480975012977E-05"
        ixy="4.93013706240697E-06"
        ixz="3.35341212820959E-05"
        iyy="7.82365475266612E-05"
        iyz="-2.41914510857825E-06"
        izz="5.74058265430112E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6B_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.956862745098039 0.956862745098039 0.956862745098039 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6B_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6B_joint"
    type="revolute">
    <origin
      xyz="0.0649997268497639 0.00920026440506977 0.0063321397038929"
      rpy="-0.0405740891479141 0.142619184593738 3.0275611119679" />
    <parent
      link="6A_link" />
    <child
      link="6B_link" />
    <axis
      xyz="-0.0993712938753993 0.994947385176486 -0.0143194512465494" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="6C_link">
    <inertial>
      <origin
        xyz="-0.14647465085106 0.0410870049838646 -0.110307304575552"
        rpy="0 0 0" />
      <mass
        value="0.0544820458081966" />
      <inertia
        ixx="2.16938941190015E-05"
        ixy="3.89683200061048E-07"
        ixz="2.00103151607547E-05"
        iyy="5.93732331632649E-05"
        iyz="-7.51291276462713E-07"
        izz="5.65909109458603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6C_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.647058823529412 0.647058823529412 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://hexapod_description/meshes/6C_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6C_joint"
    type="revolute">
    <origin
      xyz="-0.00409101222826194 0.0436501939489914 0.16090715153179"
      rpy="3.14158945955694 -1.1872473110289 0" />
    <parent
      link="6B_link" />
    <child
      link="6C_link" />
    <axis
      xyz="-0.0504640578758202 -0.994947402291134 -0.0867931191790598" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>
